.rc-menu {
  outline: none;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  z-index: 99999;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}
.rc-menu-item-group-list {
  margin: 0;
  padding: 0;
}
.rc-menu-item-group-title {
  color: #999;
  line-height: 1.5;
  padding: 8px 10px;
  border-bottom: 1px solid #dedede;
}
.rc-menu-item-active,
.rc-menu-submenu-active {
  background-color: #8EC8F9 !important;
}
.rc-menu-item-selected {
  background-color: #e7e7e7;
}
.rc-menu-submenu-title {
  padding: 15px 20px;
}
.rc-menu > li.rc-menu-submenu {
  padding: 0;
}
.rc-menu-item {
  margin: 0;
  position: relative;
  display: block;
  padding: 15px 20px;
  white-space: nowrap;
}
.rc-menu-item.rc-menu-item-disabled,
.rc-menu-item.rc-menu-submenu-disabled {
  color: #777;
}
.rc-menu > .rc-menu-item-divider {
  height: 1px;
  margin: 1px 0;
  overflow: hidden;
  padding: 0;
  line-height: 0;
  background-color: #e5e5e5;
}
.rc-menu-submenu {
  position: relative;
}
.rc-menu-submenu > .rc-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  min-width: 160px;
  background-color: #fff;
}
.rc-menu-submenu-open > .rc-menu {
  display: block;
}

.rc-top-menu {
  zoom:1;
}
.rc-top-menu:after {
  content:" ";
  display:block;
  height:0;
  clear:both;
}
.rc-menu-submenu-pull-down > .rc-menu {
  top:100%;
  left:0;
}
.rc-top-menu > .rc-menu-submenu,.rc-top-menu > .rc-menu-item {
  float:left
}
